@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
html {
  font-size: 0.5254860746vw;
}
@media (max-width: 1024px) {
  html {
    font-size: 1.3020833333vw;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 3.125vw;
  }
}

body {
  background-color: var(--color-main-bg);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #e0e2e9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-thumb {
  background: #FF949A;
  border-radius: 8px;
  border: 3px solid #e0e2e9;
}

::-webkit-scrollbar-thumb:hover {
  background: #d49a9e;
}

.main-wrapper {
  overflow: hidden;
  position: relative;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts/MontserratAlternates-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts/MontserratAlternates-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-main-bg: #4E82A6;
  --color-h1: #6B426E;
  --color-title: #FACEE4;
  --color-card-text: #8A508F;
  --color-accent-yellow: #FFEF66;
  --border-radius: border-radius: 30px;
  --font-family-h1: "Comfortaa", sans-serif;
  --font-family-base: "Montserrat Alternates", sans-serif;
  --container-pading-x: 2rem;
  --container-pading-x-mob: 1rem;
}

.background__img-wrapper {
  width: 90.6rem;
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 1024px) {
  .background__img-wrapper {
    display: none;
  }
}
.background__img-wrapper-adaptive {
  display: none;
}
@media (max-width: 1024px) {
  .background__img-wrapper-adaptive {
    display: block;
    position: absolute;
    top: 53.5rem;
  }
  .background__img-wrapper-adaptive img {
    width: 100vw;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 767px) {
  .background__img-wrapper-adaptive {
    top: 32.5rem;
    scale: 1.5;
  }
}
.background__ball-composition {
  position: absolute;
  top: 83.1rem;
  right: 0rem;
  z-index: 1;
}
@media (max-width: 1024px) {
  .background__ball-composition {
    width: 35.8rem;
    height: 35.8rem;
    top: 45rem;
    right: 4.1rem;
  }
}
@media (max-width: 767px) {
  .background__ball-composition {
    width: 17.4rem;
    height: 17.4rem;
    right: 0;
    top: 22.2rem;
  }
}
.background__circle {
  position: absolute;
  border-radius: 50%;
}
.background__circle-orange {
  width: 11.6rem;
  height: 11.6rem;
  top: -3.7rem;
  right: 38.8rem;
  background: linear-gradient(220.97deg, rgb(254, 208, 121) 10.518%, rgb(207, 101, 73) 117.331%);
}
@media (max-width: 1024px) {
  .background__circle-orange {
    width: 10.4rem;
    height: 10.4rem;
    top: 88rem;
    right: auto;
    left: 15.4rem;
  }
}
@media (max-width: 767px) {
  .background__circle-orange {
    width: 5.2rem;
    height: 5.2rem;
    top: 49rem;
    left: 6.7rem;
  }
}
.background__circle-blue {
  width: 24.1rem;
  height: 24.1rem;
  top: 16rem;
  right: 28.3rem;
  background: linear-gradient(141.15deg, rgb(154, 200, 242) 15.571%, rgb(62, 96, 128) 81.15%);
}
@media (max-width: 1024px) {
  .background__circle-blue {
    width: 21.3rem;
    height: 21.3rem;
    top: 56.1rem;
    right: auto;
    left: -6rem;
  }
}
@media (max-width: 767px) {
  .background__circle-blue {
    width: 11.1rem;
    height: 11.1rem;
    left: -2.1rem;
    top: 30.5rem;
  }
}
.background__circle-light-blue {
  width: 23rem;
  height: 23rem;
  top: 4.5rem;
  right: 5.3rem;
  z-index: 1;
  box-shadow: -15px 15px 36px 0px rgba(21, 21, 77, 0.25);
  background: linear-gradient(140.71deg, rgb(132, 183, 206) 29.759%, rgb(99, 140, 159) 50%);
}
@media (max-width: 1024px) {
  .background__circle-light-blue {
    display: none;
  }
}
.background__circle-orange-dark {
  width: 23rem;
  height: 23rem;
  top: 12.2rem;
  right: -2.5rem;
  background: linear-gradient(142.52deg, rgb(255, 166, 0) 35.139%, rgb(207, 101, 73) 61.962%);
}
@media (max-width: 1024px) {
  .background__circle-orange-dark {
    display: none;
  }
}
.background__circle-cyan-light-small {
  width: 6rem;
  height: 6rem;
  top: 32.5rem;
  right: 61.2rem;
  background: linear-gradient(142.52deg, rgb(140, 223, 194) 35.139%, rgb(52, 201, 189) 61.143%);
}
@media (max-width: 1024px) {
  .background__circle-cyan-light-small {
    width: 6.8rem;
    height: 6.8rem;
    top: 89rem;
    right: auto;
    left: 64.2rem;
  }
}
@media (max-width: 767px) {
  .background__circle-cyan-light-small {
    width: 3.6rem;
    height: 3.6rem;
    top: 48.9rem;
    left: 26.6rem;
  }
}
.background__circle-purple {
  width: 13.6rem;
  height: 13.6rem;
  top: 27rem;
  right: 42rem;
  background: linear-gradient(136.43deg, rgb(95, 55, 98) 9.256%, rgb(139, 72, 143) 89.097%);
}
@media (max-width: 1024px) {
  .background__circle-purple {
    display: none;
  }
}
.background__circle-purple-transparent {
  width: 19.5rem;
  height: 19.5rem;
  top: 25rem;
  right: 20.8rem;
  background: linear-gradient(143.13deg, rgba(255, 99, 97, 0.7) 12.58%, rgba(60, 45, 117, 0.7) 84.026%);
}
@media (max-width: 1024px) {
  .background__circle-purple-transparent {
    width: 20.1rem;
    height: 20.1rem;
    top: 64.7rem;
    right: auto;
    left: 2.3rem;
  }
}
@media (max-width: 767px) {
  .background__circle-purple-transparent {
    width: 10.9rem;
    height: 10.9rem;
    top: 35.5em;
    left: 3rem;
  }
}
.background__circle-cyan-dark {
  width: 9.2rem;
  height: 9.2rem;
  top: 57.8rem;
  right: 66.2rem;
  background: linear-gradient(152.08deg, rgb(59, 190, 190) 6.335%, rgb(78, 140, 136) 89.938%);
}
@media (max-width: 1024px) {
  .background__circle-cyan-dark {
    display: none;
  }
}
.background__circle-orange-small {
  width: 5.2rem;
  height: 5.2rem;
  top: 52.2rem;
  right: 52.5rem;
  background: linear-gradient(220.97deg, rgb(254, 208, 121) 10.518%, rgb(207, 101, 73) 117.331%);
}
@media (max-width: 1024px) {
  .background__circle-orange-small {
    display: none;
  }
}
.background__circle-orange-copy {
  width: 11.6rem;
  height: 11.6rem;
  top: 53.5rem;
  right: 24.3rem;
  background: linear-gradient(220.97deg, rgb(254, 208, 121) 10.518%, rgb(207, 101, 73) 117.331%);
}
@media (max-width: 1024px) {
  .background__circle-orange-copy {
    display: none;
  }
}
.background__circle-red {
  width: 9.2rem;
  height: 9.2rem;
  top: 44.5rem;
  right: 13.9rem;
  background: linear-gradient(142.52deg, rgb(190, 74, 59) 35.139%, rgb(207, 101, 73) 61.962%);
}
@media (max-width: 1024px) {
  .background__circle-red {
    width: 12.8rem;
    height: 12.8rem;
    top: 80.7rem;
    right: auto;
    left: 36.4rem;
  }
}
@media (max-width: 767px) {
  .background__circle-red {
    width: 6.2rem;
    height: 6.2rem;
    top: 43rem;
    left: 17.5rem;
  }
}
.background__circle-purple-small {
  width: 9.2rem;
  height: 9.2rem;
  top: 61.2rem;
  right: 11.6rem;
  background: linear-gradient(136.43deg, rgb(95, 55, 98) 9.256%, rgb(139, 72, 143) 89.097%);
}
@media (max-width: 1024px) {
  .background__circle-purple-small {
    display: none;
  }
}
.background__circle-cyan-light-big {
  width: 13rem;
  height: 13rem;
  top: 50rem;
  right: 0rem;
  background: linear-gradient(142.52deg, rgb(140, 223, 194) 35.139%, rgb(52, 201, 189) 61.143%);
}
@media (max-width: 1024px) {
  .background__circle-cyan-light-big {
    display: none;
  }
}
.background__circle-purple-big {
  width: 29.2rem;
  height: 29.2rem;
  top: 62.9rem;
  right: 31.4rem;
  background: linear-gradient(136.43deg, rgb(95, 55, 98) 9.256%, rgb(139, 72, 143) 89.097%);
}
@media (max-width: 1024px) {
  .background__circle-purple-big {
    display: none;
  }
}
.background__circle-cyan-dark-copy {
  width: 9.2rem;
  height: 9.2rem;
  top: 91.8rem;
  right: 69.2rem;
  background: linear-gradient(152.08deg, rgb(59, 190, 190) 6.335%, rgb(78, 140, 136) 89.938%);
}
@media (max-width: 1024px) {
  .background__circle-cyan-dark-copy {
    display: none;
  }
}
.background__circle-blue-small {
  width: 9.2rem;
  height: 9.2rem;
  top: 86.2rem;
  right: 9.3rem;
  background: linear-gradient(141.15deg, rgb(154, 200, 242) 15.571%, rgb(62, 96, 128) 81.15%);
}
@media (max-width: 1024px) {
  .background__circle-blue-small {
    display: none;
  }
}
.background__circle-cyan-dark-copy2 {
  width: 9.2rem;
  height: 9.2rem;
  top: 126.6rem;
  right: 75.1rem;
  background: linear-gradient(152.08deg, rgb(59, 190, 190) 6.335%, rgb(78, 140, 136) 89.938%);
}
@media (max-width: 1024px) {
  .background__circle-cyan-dark-copy2 {
    display: none;
  }
}
.background__circle-dark-green {
  width: 29.2rem;
  height: 29.2rem;
  top: 139rem;
  right: 62.5rem;
  box-shadow: -15px 15px 74px 0px rgba(42, 44, 63, 0.25);
  background: linear-gradient(136.43deg, rgb(55, 89, 98) 9.256%, rgb(72, 119, 143) 89.097%);
}
@media (max-width: 1024px) {
  .background__circle-dark-green {
    display: none;
  }
}
.background__circle-yellow {
  width: 23rem;
  height: 23rem;
  top: 148.7rem;
  right: 32.2rem;
  background: linear-gradient(142.52deg, rgb(254, 229, 26) 35.139%, rgb(195, 165, 70) 61.757%);
}
@media (max-width: 1024px) {
  .background__circle-yellow {
    display: none;
  }
}
.background__circle-light-blue-copy {
  width: 23rem;
  height: 23rem;
  top: 153.1rem;
  right: 0.5rem;
  background: linear-gradient(-47.49deg, rgb(132, 183, 206) 43.152%, rgb(99, 140, 159) 78.022%);
}
@media (max-width: 1024px) {
  .background__circle-light-blue-copy {
    display: none;
  }
}
.background__circle-blue-small-copy {
  width: 9.2rem;
  height: 9.2rem;
  top: 194.4rem;
  right: 76.1rem;
  background: linear-gradient(141.15deg, rgb(154, 200, 242) 15.571%, rgb(62, 96, 128) 81.15%);
}
@media (max-width: 1024px) {
  .background__circle-blue-small-copy {
    display: none;
  }
}
.background__circle-yellow-small {
  width: 9.6rem;
  height: 9.6rem;
  top: 179.2rem;
  right: 55.6rem;
  background: linear-gradient(142.52deg, rgb(254, 229, 26) 35.139%, rgb(195, 165, 70) 61.757%);
}
@media (max-width: 1024px) {
  .background__circle-yellow-small {
    display: none;
  }
}
.background__circle-cyan-light-big-copy {
  width: 13rem;
  height: 13rem;
  top: 186rem;
  right: 20.8rem;
  background: linear-gradient(142.52deg, rgb(140, 223, 194) 35.139%, rgb(52, 201, 189) 61.143%);
}
@media (max-width: 1024px) {
  .background__circle-cyan-light-big-copy {
    display: none;
  }
}

.header {
  display: flex;
  align-items: start;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 101rem;
}
@media (max-width: 1024px) {
  .header {
    align-items: stretch;
  }
}
@media (max-width: 767px) {
  .header {
    height: 56.7rem;
  }
}
.header__background-img {
  position: absolute;
  z-index: -1;
}
@media (max-width: 1024px) {
  .header .main-svg {
    display: none;
  }
}
.header .main-svg-adaptive {
  display: none;
}
@media (max-width: 1024px) {
  .header .main-svg-adaptive {
    display: block;
  }
}
@media (max-width: 767px) {
  .header .main-svg-adaptive {
    width: 32rem;
    height: 32rem;
  }
}
.header__title {
  font-family: "Comfortaa";
  font-size: 10rem;
  color: var(--color-h1);
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  margin: 7rem 0 0 15rem;
  cursor: default;
}
@media (max-width: 1024px) {
  .header__title {
    text-align: center;
    font-size: 7rem;
    margin: 4.2rem 0 0 0;
    -webkit-hyphens: auto;
            hyphens: auto;
  }
  .header__title br {
    display: none;
  }
  .header__title:after {
    content: "";
  }
}
@media (max-width: 767px) {
  .header__title {
    font-size: 3.5rem;
    margin: 1rem 0 0 0;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.header__bg-circle {
  position: absolute;
  border-radius: 50%;
}
.header__bg-circle-transparent {
  width: 90.8rem;
  height: 90.8rem;
  background: linear-gradient(45.45deg, rgb(237, 152, 152) 27.354%, rgba(196, 196, 196, 0) 100%);
  z-index: -1;
  left: -25rem;
  bottom: -30rem;
}
@media (max-width: 1024px) {
  .header__bg-circle-transparent {
    width: 45.4rem;
    height: 45.4rem;
    left: auto;
    bottom: auto;
    right: -15rem;
    top: -10rem;
    rotate: -164.67deg;
  }
}
@media (max-width: 767px) {
  .header__bg-circle-transparent {
    width: 17.6rem;
    height: 17.6rem;
    right: -5.5rem;
    top: -3.7rem;
  }
}
.header__bg-circle-blue {
  width: 61.6rem;
  height: 61.6rem;
  background-color: var(--color-main-bg);
  z-index: -1;
  left: 19.3rem;
  bottom: -40.1rem;
}
@media (max-width: 1024px) {
  .header__bg-circle-blue {
    display: none;
  }
}

.menu {
  display: flex;
  margin: 2rem 0 0 15rem;
  align-items: center;
}
@media (max-width: 1024px) {
  .menu {
    margin: 3rem 0 0 0;
    position: relative;
  }
}
@media (max-width: 767px) {
  .menu {
    margin: 1rem 0 0 0;
  }
}
.menu__button {
  padding: 0;
  background-color: transparent;
  border: none;
  margin-left: 22.9rem;
  background-color: var(--color-main-bg);
  border-radius: 5rem;
  font-family: "Montserrat Alternates";
  font-size: 3rem;
  color: var(--color-accent-yellow);
  padding: 1rem 8.4rem;
  transition: 0.4s linear;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.menu__button:hover {
  color: var(--color-main-bg);
  transform: translateY(0.2rem);
  transition: 0.1s linear;
}
.menu__button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  background: var(--color-accent-yellow);
  border-radius: 50%;
  z-index: -1;
  transition: 0.6s;
  border-radius: 0 0 50% 50%;
}
.menu__button:hover::before {
  height: 180%;
}
.menu__button:active {
  transform: translateY(0.5rem);
  transition: 0.1s linear;
}
@media (max-width: 1024px) {
  .menu__button {
    position: fixed;
    right: 0;
    margin-left: 0;
    padding: 3rem 5rem;
    font-size: 0;
    border-radius: 5rem 0 0 5rem;
    background-color: var(--color-accent-yellow);
  }
  .menu__button:hover {
    color: var(--color-accent-yellow);
  }
  .menu__button::before {
    transition: none;
  }
  .menu__button:hover::before {
    height: 0;
  }
  .menu__button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4rem;
    height: 0.2rem;
    background-color: var(--color-main-bg);
    box-shadow: 0 -1rem 0 var(--color-main-bg), 0 1rem 0 var(--color-main-bg);
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .menu__button::after {
    width: 2.5rem;
    box-shadow: 0 -0.7rem 0 var(--color-main-bg), 0 0.7rem 0 var(--color-main-bg);
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .menu__button {
    padding: 2rem 3.1rem;
  }
}

.logo__icon {
  width: 7.5rem;
}
@media (max-width: 1024px) {
  .logo {
    margin-left: 4rem;
  }
}
@media (max-width: 767px) {
  .logo {
    margin-left: 0rem;
  }
}

.interactive-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15rem;
  margin-top: 12.4rem;
}
@media (max-width: 1024px) {
  .interactive-block {
    margin: 0;
  }
}
.interactive-block__shapes {
  position: relative;
}
@media (max-width: 1024px) {
  .interactive-block__shapes {
    display: none;
  }
}
.interactive-block__rect {
  position: absolute;
  top: -8rem;
}
.interactive-block__triangle {
  position: absolute;
  top: -15rem;
  left: 25rem;
}
.interactive-block__star {
  position: absolute;
  top: 3rem;
  left: 25rem;
}
.interactive-block__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  margin-left: 66rem;
  border-radius: 50%;
  background-color: var(--color-main-bg);
  background: linear-gradient(126.87deg, rgb(136, 169, 192) 16.497%, rgb(78, 130, 166) 84.24%);
  position: relative;
}
.interactive-block__btn:active {
  transform: translateY(0.5rem);
  transition: 0.1s linear;
}
@media (max-width: 1024px) {
  .interactive-block__btn {
    margin-left: 0;
    margin-right: 43rem;
    margin-top: 7rem;
    width: 14rem;
    height: 14rem;
  }
}
@media (max-width: 767px) {
  .interactive-block__btn {
    margin-right: 20rem;
    margin-top: 0.8rem;
    width: 5.2rem;
    height: 5.2rem;
  }
}
@media (max-width: 1024px) {
  .interactive-block__btn-icon {
    width: 8rem;
    height: 8rem;
  }
}
@media (max-width: 767px) {
  .interactive-block__btn-icon {
    width: 3rem;
    height: 3rem;
  }
}
.interactive-block__btn-text {
  font-family: "Montserrat Alternates";
  font-size: 2rem;
  color: var(--color-accent-yellow);
  font-weight: 500;
  text-align: center;
  pointer-events: none;
  display: none;
  opacity: 0;
  width: 0;
  scale: 0;
  cursor: default;
}
@media (max-width: 1024px) {
  .interactive-block__btn-text {
    display: none;
  }
}

.kuromi {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 53%;
}
@media (max-width: 1024px) {
  .kuromi {
    width: 100%;
    justify-content: center;
  }
}
.kuromi__title {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-style: normal;
  font-size: 6rem;
  color: var(--color-title);
  margin-top: 11.3rem;
  position: relative;
  cursor: default;
}
@media (max-width: 1024px) {
  .kuromi__title {
    margin-top: 10.8rem;
    font-size: 5rem;
  }
}
@media (max-width: 767px) {
  .kuromi__title {
    margin-top: 8.6rem;
    font-size: 2.5rem;
  }
}
.kuromi__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -12rem;
  width: 82.1rem;
  height: 0.3rem;
  background-color: var(--color-title);
}
@media (max-width: 1024px) {
  .kuromi__title::after {
    width: 60rem;
    left: 50%;
    translate: -50% -50%;
    height: 0.2rem;
  }
}
@media (max-width: 767px) {
  .kuromi__title::after {
    width: 26.3rem;
    height: 0.1rem;
  }
}
.kuromi__scene {
  position: relative;
  width: 100rem;
  height: 80rem;
}
@media (max-width: 1024px) {
  .kuromi__scene {
    margin-bottom: 15rem;
    width: 100%;
    height: 70rem;
  }
}
@media (max-width: 767px) {
  .kuromi__scene {
    width: 29.3rem;
    height: 33.4rem;
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
  }
}
.kuromi__remove-watermark {
  position: absolute;
  width: 160px;
  height: 60px;
  background-color: var(--color-main-bg);
  bottom: 0;
  right: 0;
}/*# sourceMappingURL=style.css.map */