:root {
    --color-main-bg: #4E82A6;
    --color-h1: #6B426E;
    --color-title: #FACEE4;
    --color-card-text: #8A508F;
    --color-accent-yellow: #FFEF66;

    --border-radius: border-radius: 30px;

    --font-family-h1: 'Comfortaa', sans-serif;
    --font-family-base: 'Montserrat Alternates', sans-serif;

    --container-pading-x: 2rem;
    --container-pading-x-mob: 1rem;


// Animation H2 pseudoelement
    --scaleX: 0;
    --transformOrigin: center;
// Animation Menu
    --translateX: -10rem;
    --opacity: 0;
    --scale: 0;
}