.about {
    display: flex;
    flex-direction: column;
    overscroll-behavior: none;

    &__card {
        position: relative;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }


    &__block {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: relative;
    }

    &__block-right {
        display: flex;
        align-items: center;
    }

    &__block-left {
        display: flex;
        align-items: center;
    }

    &__card-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 2rem;
        margin-left: auto;
        width: 81rem;
        height: 72rem;
        border-radius: 30px;
        background: linear-gradient(225.00deg, rgb(255, 249, 126),rgb(252, 164, 197) 100%);
    }

    &__card-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 2rem;
        margin-right: auto;
        width: 81rem;
        height: 72rem;
        border-radius: 30px;
        background: linear-gradient(43.73deg, rgb(108, 231, 221) 33.127%,rgb(37, 214, 151) 78.056%);
    }

    &__subtitle {
        font-family: 'Montserrat Alternates';
        font-size: 4rem;
        font-weight: 500;
        line-height: 4.9rem;
        text-align: center;
        color: var(--color-card-text);
        margin-top: 5.7rem;
    }

    &__text {
        font-family: 'Montserrat Alternates';
        font-size: 3rem;
        font-weight: 400;
        line-height: 3.7rem;
        text-align: center;
        color: var(--color-card-text);
        margin-top: 5.7rem;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5.7rem;
        background-color: var(--color-card-text);
        border-radius: 50%;
        width: 10.8rem;
        height: 10.8rem;
        position: relative;
        overflow: hidden;
        &::after {
            content: '';
            width: 0;
            height: 100%;
            // background-color: var(--color-accent-yellow);
            background-color: #dd72b2;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
            transition: 0.8s;
        }
        &:hover::after {
            width: 100%;
            transition: 0.4s;
        }
        &:hover .about__icon-btn {
            rotate: -45deg;
            transition: 0.4s;
        }
        &:active {
            transform: translateY(0.5rem);
            transition: 0.1s linear;
        }
    }

    &__icon-btn{
        position: relative;
        z-index: 1;
        transition: 0.4s;
    }

    &__bubl-bg {
        border-radius: 50%;
        position: absolute;
        backdrop-filter: blur(0.12rem);
        background: linear-gradient(144.67deg, rgba(176, 143, 182, 0.28) -4.571%,rgba(153, 153, 153, 0) 134.069%);
    }

    &__bubl-bg1 {
        width: 5.8rem;
        height: 5.8rem;
        top: 12rem;
        right: 13.3rem;
    }

    &__bubl-bg2 {
        width: 28.4rem;
        height: 28.4rem;
        top: 6rem;
        left: 2.4rem;
    }

    &__bubl-bg3 {
        width: 19.4rem;
        height: 19.4rem;
        bottom: 8.4rem;
        right: 9.3rem;
    }

    &__triangle {
        position: absolute;
        left: -6.7rem;
    }

    &__unicorn {
        position: relative;
        margin-left: 20.8rem;
        z-index: 1;
    }
}




.title-about {
    margin-top: 30rem;
    margin-bottom: 30rem;
    margin-left: auto;
    margin-right: auto;

    &::after {
        content: '';
        left: 50%;
        translate: -50% -50%;
    }
}
