.background__img-wrapper {
    width: 90.6rem;
    position: absolute;
    right: 0;
    top: 0;
}


.background__circle {
    position: absolute;
    border-radius: 50%;

    &.background__circle-orange {
        width: 11.6rem;
        height: 11.6rem;
        top: -3.7rem;
        right: 38.8rem;
        background: linear-gradient(220.97deg, rgb(254, 208, 121) 10.518%,rgb(207, 101, 73) 117.331%);
    }
    &.background__circle-blue {
        width: 24.1rem;
        height: 24.1rem;
        top: 16rem;
        right: 28.3rem;
        background: linear-gradient(141.15deg, rgb(154, 200, 242) 15.571%,rgb(62, 96, 128) 81.15%);
    }
    &.background__circle-light-blue {
        width: 23rem;
        height: 23rem;
        top: 4.5rem;
        right: 5.3rem;
        z-index: 1;
        box-shadow: -15px 15px 36px 0px rgba(21, 21, 77, 0.25);
        background: linear-gradient(140.71deg, rgb(132, 183, 206) 29.759%,rgb(99, 140, 159) 50%);
    }
    &.background__ccircle-orange-dark {
        width: 23rem;
        height: 23rem;
        top: 12.2rem;
        right: -2.5rem;
        background: linear-gradient(142.52deg, rgb(255, 166, 0) 35.139%,rgb(207, 101, 73) 61.962%);
    }
}


// Test
.block {
    width: 100%;
    height: 300vh;
}

