.footer {

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin: 36rem 2rem 0 2rem;
        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
            margin: 36rem 1rem 0 1rem;
        }
        @media (max-width: 767px) {
            margin: 20rem 1rem 0 1rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        @media (max-width: 1024px) {
            align-items: center;
        }
    }

    &__title {
        font-family: 'Montserrat Alternates';
        font-weight: 400;
        font-style: normal;
        text-align: left;
        line-height: 1.4;
        font-size: 4rem;
        color: var(--color-title);
        @media (min-width: 1025px) {
            cursor: none;
        }
        @media (max-width: 1024px) {
            text-align: center;
            font-size: 3rem;
        }
        @media (max-width: 767px) {
            font-size: 1.5rem;
        }
    }

    &_nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        height: 18rem;
        @media (max-width: 1024px) {
            align-items: center;
            margin: 5rem 0;
        }
        @media (max-width: 767px) {
            height: 8rem;
            margin: 2rem 0;
        }
    }

    &__link {
        font-family: 'Montserrat Alternates';
        line-height: 1.4;
        font-size: 3rem;
        color: var(--color-title);
        position: relative;
        @media (min-width: 1025px) {
            cursor: none;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0.5rem;
            width: 100%;
            left: 50%;
            translate: -50% -50%;
            height: 0.1rem;
            background-color: var(--color-title);
            @media (max-width: 1024px) {
                bottom: -0.2rem;
            }
            @media (max-width: 767px) {
                height: 0.05rem;
                bottom: 0.2rem;
            }
        }
        @media (max-width: 1024px) {
            font-size: 2rem;
        }
        @media (max-width: 767px) {
            font-size: 1.2rem;
        }
    }

    &__social{
        @media (max-width: 1024px) {
            margin-bottom: 5rem;
        }
        @media (max-width: 767px) {
            margin-bottom: 2rem;
        }
    }

    &__social:nth-child(1){
        margin-right: 2.5rem;
        @media (max-width: 767px) {
            margin-right: 1.5rem;
        }
    }

    &__social a{
        text-decoration: none;
        @media (min-width: 1025px) {
            cursor: none;
        }
    }

    .tik-tok {
        @media (max-width: 767px) {
            width: 3.7rem;
            height: 3.7rem;
        }
    }

    .like {
        @media (max-width: 767px) {
            width: 2.5rem;
            height: 4rem;
        }
    }

    &__map iframe{
        border-radius: 3rem;
        width: 96rem;
        height: 50rem;
        border: 0.2rem solid rgba(255, 255, 255, 0.34);
        box-shadow: 0 0 1rem -.1rem rgba(0, 0, 0, 0.25);
        @media (max-width: 1024px) {
            width: 74.8rem;
            height: 45rem;
        }
        @media (max-width: 767px) {
            width: 30rem;
            height: 21.3rem;
        }
    }

    &__signature{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__signature-link {
        font-family: 'Montserrat Alternates';
        line-height: 1.4;
        font-size: 1.6rem;
        color: var(--color-title);
        text-decoration: none;
        padding: 1rem 0;
        @media (min-width: 1025px) {
            cursor: none;
        }
        @media (max-width: 767px) {
            font-size: 0.8rem;
        }
    }
}