.header {
    display: flex;
    align-items: start;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 101rem;

    // .header__background-img

    &__background-img {
        position: absolute;
        width: 139.6rem;
        z-index: -1;
    }

    // .header__title

    &__title {
        font-family: 'Comfortaa';
        font-size: 10rem;
        color: var(--color-h1);
        font-style: normal;
        font-weight: 400;
        margin: 7rem 0 0 15rem;
        cursor: default;
    }

    // .header__bg-circle

    &__bg-circle {
    }

    // .header__bg-circle-transparent

    &__bg-circle-transparent {
    }

    // .header__bg-circle-blue

    &__bg-circle-blue {
    }
}


.menu {
    display: flex;
    margin: 2rem 0 0 15rem;
    align-items: center;
    
    // .menu__button

    &__button {
        @include reset-button;
        margin-left: 22.9rem;
        background-color: var(--color-main-bg);
        border-radius: 5rem;
        font-family: 'Montserrat Alternates';
        font-size: 3rem;
        color: var(--color-accent-yellow);
        padding: 1rem 8.4rem;
        transition: 0.4s linear;
        position: relative;
        z-index: 1;
        overflow: hidden;

        &:hover {
            color: var(--color-main-bg);
            transform: translateY(0.2rem);
            transition: 0.1s linear;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 0%;
            background: var(--color-accent-yellow);
            border-radius: 50%;
            z-index: -1;
            transition: 0.6s;
            border-radius: 0 0 50% 50%;
        }

        &:hover::before {
            height: 180%;
        }

        &:active {
            transform: translateY(0.5rem);
            transition: 0.1s linear;
        }
    }

    // .menu__button-active

    // &__button-active {
    // }

}


.logo {
    
    // .logo__icon

    &__icon {
        width: 7.5rem;
    }
}


.interactive-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15rem;
    margin-top: 12.4rem;
    // .interactive-block__shapes


    &__shapes {
        position: relative;
    }

    // .interactive-block__rect

    &__rect {
        position: absolute;
        top: -8rem;
    }

    // .interactive-block__triangle

    &__triangle {
        position: absolute;
        top: -15rem;
        left: 25rem;
    }

    // .interactive-block__star

    &__star {
        position: absolute;
        top: 5rem;
        left: 25rem;
    }
}
