.kuromi {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 53%;

    &__title {
        font-family: 'Montserrat Alternates';
        font-weight: 500;
        font-style: normal;
        font-size: 6rem;
        color: var(--color-title);
        margin-top: 11.3rem;
    }

    &__scene {
        position: relative;
        width: 100rem;
        height: 80rem;
    }

    &__remove-watermark {
        position: absolute;
        width: 160px;
        height: 60px;
        background-color: var(--color-main-bg);
        bottom: 0;
        right: 0;
    }

}
