.nav {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: #867dda;

    &__close {
        position: absolute;
        right: 5rem;
        top: 5rem;
    }

    &__list {
        text-align: center;
    }

    &__link:nth-child(2) {
        margin: 5rem 0;
    }

    // &__link {
    //     border-radius: 10%;
    // }

    &__link a {
        font-family: 'Montserrat Alternates';
        font-size: 5rem;
        font-weight: 400;
        color: var(--color-accent-yellow);
        text-decoration: none;
        @media (min-width: 1025px) {
            cursor: none;
        }
    }
}


// 6b61c4